@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


html {
	background: #000;
}

body{
	width:100%;
	height:100vh;
	font: 700 16px 'Poppins', sans-serif;
	color: #fff426;
	background: #000 url('img/render_15.0015.jpg') no-repeat center center;
	background-size: contain;
	cursor: url(cursor.png) 64 64, auto;
}

#main{
	max-width:100%;
	display: block;
	margin: auto;
}

h1 {
	display:none;
}

h2 {
	font-weight: 400;
	font-size: 24px;
	display: block;
	padding-bottom:0 !important;
}

.text_block {
	position: absolute;
	bottom: 20px;
	margin: 0 20px;
	cursor: url(cursor.png) 64 64, auto;
}


.address {
	position:absolute;
	color: #fff;
	text-align:center;
	top: 20px;
	width: 100%;
	cursor: url(cursor.png) 64 64, auto;
}