@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

html {
	background: #FFF url('/wp-content/themes/themomstudio/inc_front-pages/timo-01/lilacity2.png') no-repeat;
	background-size: cover;	
}

body{
	width:100%;
	height: 100%;
	font: 700 16px 'Poppins', sans-serif;
	color: #fff;
	background: none;
}

h1 {
	font-size: 36px;
	display: block;
	line-height: 0.9em;
	font-weight: 700;
	margin-bottom: 50px;
	padding-top: 100px;
	color: #fff426;
	text-align:center;
}

#main{
	max-width:80%;
	display: block;
	margin: auto;
}

p {
	text-align:center;
	padding-top: 25px;
}