@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


html {
	position:relative;
	margin: 0;
	padding: 0;
	border:0;
	width:100%;
	height:100%;
}

body{
	margin: 0;
	padding: 0;
	border:0;
	min-height:100vh;
	font: 700 16px 'Poppins', sans-serif;
	color: #fff426;
	perspective: 500px;
	overflow:hidden;
}

#main{
	max-width:100%;
	display: block;
	margin: auto;
	position:relative;
}

h1 {
	font-size: 200%;
	display: block;
	line-height: 0.9em;
	font-weight: 700;
	padding-bottom: 50px;
	padding-top: 100px;
}

h2 {
	font-weight: 400;
	font-size: 150%;
	display: block;
	padding-bottom:0 !important;
}

p {
	padding-top: 100px;
}

.content {
	padding-bottom:1000px;
}

.address, #legal {
	color: #fff;
	text-align:center;
	top: 20px;
	position:absolute;
	z-index:1;
	width:100%;
	text-align:center;
}

#canvas2d{
	position:absolute;
	width:100%;
	height:100%;
	z-index:-1;
}

.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 100px;
  perspective: 400px;
  text-align: justify;
  width:100%;
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 0% 50%;
  animation: crawl 480s linear;
}

.crawl > .title {
  font-size: 200%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: 250px;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% { 
    top: -48000px;
    transform: rotateX(30deg) translateZ(-20000px);
  }
}