/*
Theme Name: The MoM Studio
Theme URI: https://theMoM.studio
Author: 
Author URI:
Description:
Version: 0.1
Text Domain: 

*/

body, html{
	font: 300 16px 'Lato', sans-serif;
	color: #000;
}

h1 {
	font-size: 24px;
	display: block;
}

h1.b {
	font-weight: 700;
}

h2 {
	font-size: 24px;
	display: block;
}
h3 {
	display: block;

}
h4 {
	display: block;
}

em {

}

small {

}

strong {
	font-weight: 400;
}

a {
	text-decoration: none;
	color: inherit;
	transition: color 0.2s ease 0s;
}

a:hover{
	color: #FFF;
	transition: color 0.2s ease 0s;
}

p {
	display: block;
}

/*---------FOOTER---------*/

#legal {
	position: absolute;
	width: 100%;
	height: 16px;
	font-size: 10px;
	background: none;
	color: #FFF;
	bottom: 5px;
}

#legal a {
	float: right;
	padding: 3px 20px 0 20px;
}

