@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


html {
	background: #FFF url('/wp-content/themes/themomstudio/inc_front-pages/timo-01/lilacity2.png') no-repeat;
	background-size: cover;
	position:relative;
}

body{
	width:100%;
	height: 100%;
	min-height:100vh;
	font: 700 16px 'Poppins', sans-serif;
	color: #fff426;
	background: none;
}

#main{
	max-width:80%;
	display: block;
	margin: auto;
}

h1 {
	font-size: 100px;
	display: block;
	line-height: 0.9em;
	font-weight: 700;
	margin-bottom: 50px;
	padding-top: 100px;
}

h2 {
	font-weight: 400;
	font-size: 24px;
	display: block;
	padding-bottom:0 !important;
}

.p_right_block {
	display: block;
	width: 300px;
	float: right;
	text-align: justify;
	text-justify: inter-word;
	text-align-last: right;
	position: relative;
	clear: both;
	padding-bottom: 30px;
}

.p_right_block p {
	padding-top:20px;
}

.address {
	color: #fff;
	text-align:center;
	padding-top: 20px;
}